<!--Extend off base template to build homepage-->
<!--Homepage changes depending on if logged in or not-->
{% extends 'base.html' %}
{% block title %}PetNamer{% endblock %}

<!--Overrides base template-->
{% block content %}
<h2>Welcome to PetNamer</h2>
<p>We're not to blame for your pets' bad name!</p>
<!--Checks if user is not logged in-->
{% if not user.is_authenticated %}
<a href ="{% url 'login' %}" class="cta-button">Get Started</a>
<!--If user logged in, show options-->
{% else %}
<div class="b1">
    <h1>Upload an Image</h1>
    <p>Use the link below to upload an image.</p>
    <p>Please ensure the image is clear and free of obstructions.</p>
    <p>Results may vary based on image quality and image selection.</p>
    <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</div>
{% endif %}
{% endblock %}