{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="login-container">
    <!--Uses form designed in urls.py and views.py to login users-->
    <!--Makes use of Django built in authentication-->
        <form action="{% url 'login' %}" method="post">
        <!--Protect against CSRF Attacks-->
        {% csrf_token %}
        <h2>Log In</h2>
        {% if error_message %}
        <p class="error_message">{{ error_message }}</p>
        {% endif %}
        <!--Generate fields for input, requiring both fields-->
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        
        <a href="{% url 'social:begin' 'google-oauth2' %}">
           <img class="google-btn" src="\static\images\google_login.png" alt="Login with Google"> 
        </a>
        </form>
    </div>
{% endblock %}